<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <title>
      <%= title || 'MedStudyTrack' %>
    </title>
</head>

<body>
  <%- include('../partials/navbar') %>
    <main class="container">
      <%- body %>
    </main>
</body>

</html>